In [1]:
import json
import sqlite3
conn = sqlite3.connect('database.sqlite')
c = conn.cursor()

import pandas as pd
import seaborn as sns

c.execute('''SELECT * FROM Matches WHERE season = 2011;''')
df = pd.DataFrame(c.fetchall())
df.columns = [x[0] for x in c.description]
print(len(df))
df.head()

992

   Match_ID Div  Season        Date   HomeTeam       AwayTeam  FTHG  FTAG FTR
0      1092  D1    2011  2012-03-31   Nurnberg  Bayern Munich     0     1   A
1      1093  D1    2011  2011-12-11  Stuttgart  Bayern Munich     1     2   A
2      1094  D1    2011  2011-08-13  Wolfsburg  Bayern Munich     0     1   A
3      1095  D1    2011  2011-11-27      Mainz  Bayern Munich     3     2   H
4      1096  D1    2011  2012-02-18   Freiburg  Bayern Munich     0     0   D

In [10]:
class weather_prepare:
    def __init__(self,df):
        self.df = df

    # prepare date for use in dark sky api -> convert to unix time
    def prepare_dataframe_for_weather(self):
        
        df.set_index('Match_ID', inplace = True)
        df['Date'] = pd.to_datetime(df['Date'])
        df['Unix_Date'] = (df['Date'] - pd.Timestamp("1970-01-01")) // pd.Timedelta('1s')

In [11]:
weather_prepare.prepare_dataframe_for_weather(df)

,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,Unix_Date
Match_ID,,,,,,,,,
1092,D1,2011,2012-03-31,Nurnberg,Bayern Munich,0,1,A,1333152000
1093,D1,2011,2011-12-11,Stuttgart,Bayern Munich,1,2,A,1323561600
1094,D1,2011,2011-08-13,Wolfsburg,Bayern Munich,0,1,A,1313193600
1095,D1,2011,2011-11-27,Mainz,Bayern Munich,3,2,H,1322352000
1096,D1,2011,2012-02-18,Freiburg,Bayern Munich,0,0,D,1329523200